.react-mark-down-line-break {
  white-space: pre-wrap;
  padding-left: 5px;
  padding-right: 5px;
}
.react-mark-down-line-break-result {
  white-space: pre-wrap;
  padding-left: 5px;
  padding-right: 5px;
}

.react-mark-down-line-break-result .border {
  border: 1px solid #e1e4e8 !important;
}

.react-mark-down-line-break-result p {
  line-height: 1.7;
  margin: 2px 0;
}
.react-mark-down-line-break-result table {
  border-spacing: 0;
  border-collapse: collapse;
}
.react-mark-down-line-break-result td,
.react-mark-down-line-break-result th {
  padding: 0;
}
.react-mark-down-line-break-result table {
  display: block;
  width: 100%;
  overflow: auto;
}
.react-mark-down-line-break-result table th {
  font-weight: 600;
}
.react-mark-down-line-break-result table td,
.react-mark-down-line-break-result table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}
.react-mark-down-line-break-result table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}
.react-mark-down-line-break-result table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.react-mark-down-line-break-result hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
.react-mark-down-line-break-result pre {
  display: block;
  padding: 20px;
  line-height: 28px;
  word-break: break-word;
}
.react-mark-down-line-break-result code,
.react-mark-down-line-break-result pre {
  background-color: #f5f5f5;
  font-size: 14px;
  border-radius: 0;
  overflow-x: auto;
}
.react-mark-down-line-break-result code {
  padding: 3px 0;
  margin: 0;
  word-break: normal;
}
.react-mark-down-line-break-result code:after,
.react-mark-down-line-break-result code:before {
  letter-spacing: 0;
}
.react-mark-down-line-break-result blockquote {
  position: relative;
  margin: 16px 0;
  padding: 5px 8px 5px 30px;
  background: none repeat scroll 0 0 rgba(102, 128, 153, 0.05);
  color: #333;
  border: none;
  border-left: 10px solid #d6dbdf;
}
